/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .container {
    flex: 1;
    display: flex;
  }
  
  /* Header styles */
  header {
    background-color: #1DB954;
    color: white;
    padding: 20px;
  }
  
  h1 {
    margin: 0;
  }
  
  /* Sidebar styles */
/* Sidebar styles */
aside {
    background-color: #F1F1F1;
    padding: 20px;
  }
  
  h3 {
    margin: 0 0 20px;
  }
  
  .playlist-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .playlist {
    margin-bottom: 10px;
  }
  
  .playlist-item {
    display: flex;
    align-items: center;
  }
  
  .playlist-item img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  .playlist-info {
    flex: 1;
  }
  
  label {
    font-weight: bold;
  }
  
  .playlist-description {
    margin: 0;
    color: #888;
  }
  
  
  /* Main section styles */
  main {
    padding: 20px;
  }
  
  h2 {
    margin: 0 0 20px;
  }
  
  .song {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .song img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  .song-info {
    flex: 1;
  }
  
  .song-info .song-title {
    font-weight: bold;
  }
  
  /* Footer styles */
  footer {
    background-color: #1DB954;
    color: white;
    padding: 20px;
    margin-top: auto;
  }


  
  